<div style="padding-left: 30%;padding-top: 15%;">
  <div class="card col-6">
    <div class="card-body">
      <h5 class="card-title">Sign in</h5>
      <hr>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="email" class="form-control" formControlName="emailId"
            [ngClass]="{'is-invalid': submitted && f.emailId.errors}">
          <label *ngIf="submitted && f.emailId.invalid" class="invalid-feedback">
            Please enter a valid email address.
          </label>
        </div>
        <div class="mb-5">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password"
            [ngClass]="{'is-invalid': submitted && f.password.errors}">
          <label *ngIf="submitted && f.password.invalid" class="invalid-feedback">
            Password is required.
          </label>
        </div>
        <div class="text-center">
          <button class="btn btn-primary col-3" color="primary" type="submit"><i class="bi bi-box-arrow-in-right margin-left-3"></i> Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>