<div class="row">
    <div class="col-auto me-auto">
        <h4>Movie Details</h4>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" style="width: 150px;">Edit</button>
    </div>
</div>

<div class="row">
    <div class="col-4 mt-3">
        <svg width="300" height="450" class="placeholder">
            <rect></rect>
        </svg>
    </div>
    <div class="col-8">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Details</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Cast</button>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row mt-3">
                    <div class="col-6">
                        <h4>Mr. Nobody</h4>
                        <h6>Fantasy 2 h 37 min</h6>
                        <p>
                            A boy stands on a station platform as a train is about to
                            leave. Should he go with his mother or stay with his
                            father? Infinite possibilities arise from this decision. As
                            long as he doesn't choose, anything is possible.
                        </p>
                    </div>
                    <div class="col-4">
                        <svg width="350" height="250" class="placeholder">
                            <rect></rect>
                        </svg>
                    </div>
                </div>
                <div class="row">
                    <h5>Screenshots</h5>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row mt-3">
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                        <h5>Jared Leto</h5>
                        <h6>Nemo Adult</h6>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                        <h5>Jared Leto</h5>
                        <h6>Nemo Adult</h6>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                        <h5>Jared Leto</h5>
                        <h6>Nemo Adult</h6>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                        <h5>Jared Leto</h5>
                        <h6>Nemo Adult</h6>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                        <h5>Jared Leto</h5>
                        <h6>Nemo Adult</h6>
                    </div>
                    <div class="col-2">
                        <svg width="120" class="placeholder">
                            <rect></rect>
                        </svg>
                        <h5>Jared Leto</h5>
                        <h6>Nemo Adult</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>