<div>
    <h4>Add actor</h4>
    <div class="card">
        <div class="card-body">
            <h5>Actor details</h5>
            <div class="row">
                <div class="col-6">
                    <label>Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-2">
                    <label>Born in</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-2">
                    <label>Born in</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-2">
                    <label>Born in</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label>Genres</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label>City</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label>State</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-3">
                    <label>Country</label>
                    <input type="text" class="form-control">
                </div>

            </div>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h5 class="card-title">Thumbnail</h5>
                    <input type="file" class="form-control" accept="image/jpg, image/png, image/jpeg">
                </div>
                <div class="col-8">
                    <h5 class="card-title">Description</h5>
                    <textarea class="form-control" rows="6"></textarea>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-end">
        <button class="btn btn-primary">Create</button>
    </div>
</div>